WCFCashHome1.8/WCFCashHomeDesktopView/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Recebimento">
    <xs:sequence>
      <xs:element name="Categoria" nillable="true" type="xs:string" />
      <xs:element name="DataRecebimento" nillable="true" type="xs:string" />
      <xs:element name="Descricao" nillable="true" type="xs:string" />
      <xs:element name="EmailRecebimento" nillable="true" type="xs:string" />
      <xs:element name="IdRecebimento" type="xs:int" />
      <xs:element name="Status" type="xs:int" />
      <xs:element name="ValorRecebimento" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recebimento" nillable="true" type="tns:Recebimento" />
  <xs:complexType name="ArrayOfRecebimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recebimento" nillable="true" type="tns:Recebimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecebimento" nillable="true" type="tns:ArrayOfRecebimento" />
  <xs:complexType name="Conta">
    <xs:sequence>
      <xs:element name="EmailCliente" nillable="true" type="xs:string" />
      <xs:element name="SalarioConta" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conta" nillable="true" type="tns:Conta" />
  <xs:complexType name="ArrayOfConta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conta" nillable="true" type="tns:Conta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConta" nillable="true" type="tns:ArrayOfConta" />
  <xs:complexType name="ArrayOfDespesas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Despesas" nillable="true" type="tns:Despesas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDespesas" nillable="true" type="tns:ArrayOfDespesas" />
  <xs:complexType name="Despesas">
    <xs:sequence>
      <xs:element name="Categoria" nillable="true" type="xs:string" />
      <xs:element name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element name="Descricao" nillable="true" type="xs:string" />
      <xs:element name="EmailCliente" nillable="true" type="xs:string" />
      <xs:element name="IdDespesa" type="xs:int" />
      <xs:element name="Status" type="xs:int" />
      <xs:element name="ValorDespesa" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Despesas" nillable="true" type="tns:Despesas" />
</xs:schema>