WCFCashHome1.8/WCFCashHomeDesktopView/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54681/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.model" />
  <xs:element name="InsertClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="cliente" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="cliente" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="ListarClientesResult" nillable="true" type="q3:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PegarClientePorEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PegarClientePorEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="PegarClientePorEmailResult" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecebimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="recebimento" nillable="true" type="q5:Recebimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecebimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRecebimentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecebimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="recebimento" nillable="true" type="q6:Recebimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecebimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecebimentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecebimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="recebimento" nillable="true" type="q7:Recebimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecebimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecebimentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRecebimento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRecebimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="ListarRecebimentoResult" nillable="true" type="q8:ArrayOfRecebimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pegarRecebimentoPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailLogado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pegarRecebimentoPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="pegarRecebimentoPorDataResult" nillable="true" type="q9:ArrayOfRecebimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="cliente" nillable="true" type="q10:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertContaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="conta" nillable="true" type="q11:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="ListarContaResult" nillable="true" type="q12:ArrayOfConta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDespesa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDespesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="ListarDespesaResult" nillable="true" type="q13:ArrayOfDespesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDespesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="despesa" nillable="true" type="q14:Despesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDespesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDespesaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDespesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="despesa" nillable="true" type="q15:Despesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDespesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDespesaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDespesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="despesa" nillable="true" type="q16:Despesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDespesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDespesaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDespesaPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rmailLogado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDespesaPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService1.model" minOccurs="0" name="ListarDespesaPorDataResult" nillable="true" type="q17:ArrayOfDespesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirConexão">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirConexãoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbrirConexãoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>